@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 7px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(71,167,161);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
  position: absolute;
  top: 90px;
  left: 60px;
  width: 280px;
  height: 220px;
  background: white;
  border-radius: 3px;
  box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #F1BA64;
  color: white;
}

.title {
  top: 12px;
  left: 15px;
}

.date {
  top: 30px;
  left: 15px;
}

.type {
  top: 14px;
  right: 15px;
}

.value {
  top: 28px;
  right: 15px;
}

.big {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.small {
  position: absolute;
  font-size: 11px;
  font-weight: 400;
}

.parameters {
  text-align: right;
  padding: 10px 0 14px 0;
}

.card .parameters span {
  position: relative;
  font-size: 9px;
  color: #606060;
  line-height: 13px;
  padding: 0 10px 0 25px;
}

.card .parameters span::before {
  position: absolute;
  content: "";
  display: block;
  left: 6px;
  top: 6px;
  width: 11px;
  height: 3px;
  border-radius: 3px;
}

.red::before {
  background-color: #FA7373;
}

.blue::before {
  background-color: #7BA2FF;
}

.statistic {
  position: relative;
  width: 260px;
  height: 81px;
  margin: 0 auto;
}

.line-1, .line-2, .line-3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #F2F2F2;
  height: 1px;
}

.line-2 {
  top: 40px;
}

.line-3 {
  top: inherit;
  bottom: 0;
}

.card .statistic .data svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card .statistic .data.red polyline {
  stroke: #FA7373;
}
.card .statistic .data.blue polyline {
  stroke: #7BA2FF;
}

.card .statistic .data polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

.card .statistic .data [class*="point-"] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}
