@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 7px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(71,167,161);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
  position: absolute;
  top: 90px;
  left: 60px;
  width: 280px;
  height: 220px;
  background: white;
  border-radius: 3px;
  box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 30%);
  overflow: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #F1BA64;
  color: white;
}

.title {
  top: 12px;
  left: 15px;
}

.date {
  top: 30px;
  left: 15px;
}

.type {
  top: 14px;
  right: 15px;
}

.value {
  top: 28px;
  right: 15px;
}

.big {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.small {
  position: absolute;
  font-size: 11px;
  font-weight: 400;
}

.parameters {
  text-align: right;
  padding: 10px 0 14px 0;
}
