@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  background: #4EAF82;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-icon {
  width: 80px;
  height: 52px;
  cursor: pointer;
  z-index: 20;
}

.line-1, .line-2, .line-3 {
  height: 8px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 30%);
}

.line-2 {
  margin: 14px 0;
}

.active {

}
